[2016-11-14 18:49] incanus opened #1 "Unable to be used with CocoaPods"
When used via CocoaPods, the `Notepad.framework` is built and included, but the individual classes aren't able to be used. For example, `import Notepad` works just fine, but you can't use the `Notepad` class in code. Perhaps this is because there is no framework header?

This is in a Swift 3.0 project. I maintain frameworks of my own (e.g. Mapbox-iOS-SDK) so I'm fairly familiar with the process he

[2016-11-14 19:03] ruddfawcett commented on #1
Hey, thanks for the note! Can you link me to an example of a framework header, and I can create one? Or, alternatively you could open up a pull request?

[2016-11-14 19:13] incanus commented on #1
Sure, it should just be as simple as something like this:

https://github.com/mapbox/MapboxGeocoder.swift/blob/master/MapboxGeocoder/MapboxGeocoder.h

In this project's case, maybe:

[code]

All of the Swift files should be included automatically since they are part of the module.

I'm not 100% positive this will solve the problem, but I think it should. I will try to experiment more.

[2016-11-14 19:21] ruddfawcett commented on #1
Great, thanks! Let me know what you find, and happy to merge anything in — it doesn't *hurt* to have a framework header regardless!

[2016-11-14 20:07] incanus commented on #1
This was a red herring, since CocoaPods provides an umbrella header file and creates all pods as frameworks.

The real problem is that per http://stackoverflow.com/a/37089794/977220 the `Notepad` class isn't public by default outside of the framework. Again, it works in your example since the `Notepad.swift` file is present in the same module as the app.

I'll submit a PR for this. It gets complic

[2016-11-14 20:10] incanus commented on #1
Another issue here is that `Theme` refers to `Bundle.main.path` to find its JSON resources, yet the main bundle is actually the user's app, not the `Notepad.framework`. I have a fix for this as well.

[2016-11-14 20:24] ruddfawcett commented on #1
Awesome, thanks. Yeah — I definitely am going to implement something with `IBInspectables/IBDesignables` going forward, but feel free to hack away! Looking to build this out so it's extra flexible (roadmap may include loading themes from online, who knows what the future holds).

Regarding exposing `Storage`, I agree with you. I found it difficult to work with `NSTextStorage` and the safety of Swi

[2016-11-14 20:25] ruddfawcett commented on #1
Also, debating between `themeFile` and `theme` as the variable. Thoughts?

[2016-11-14 20:38] incanus commented on #1
`theme` implies a `Theme` will be passed, which you might also prefer to keep private. `themeFile`, `themeName`, or `themePath` implies a `String` (in the latter case, allowing you to pass your own full JSON path).

[2016-11-14 20:43] ruddfawcett commented on #1
I agree - just checking because I hate camel case ¯\_(ツ)_/¯.

[2016-11-15 04:41] WildDylan opened #2 "Features and bugs."
![image](https://cloud.githubusercontent.com/assets/2519544/20293337/6d3d0e9c-ab30-11e6-8974-26d195656a8f.png)

code block is not support. like use
[code]
regex with error.
more element type support. h4, h5, h6, line, steps.
how about show the image.
how about support html element.

[2016-11-15 05:02] ruddfawcett commented on #2
Hi, you are more than welcome to add the features you requested (multiline code, h4, h5, h6), but I don't have any plans to support HTML or inline images.

Thank you for the bug report, though. I will look into fixing that at one point.

[2016-11-15 05:25] WildDylan commented on #2
I used 2 indent in my editor....

[2016-11-15 05:25] #2 closed

[2016-11-15 19:26] incanus commented on #1
Just FYI I will still get to this, but my needs for a project changed and I'm not actively blocked by this anymore so it'll be a little later on. That said this is the best-looking GUI-based Markdown renderer I've seen and I'd like to help tune it up for possible future use!

[2016-11-17 20:39] ruddfawcett commented on #1
@incanus do you have the header for CocoaPods in git already? Because if not I have some time on my hands now and can clean some stuff up. Just let me know!

[2016-11-17 20:45] incanus commented on #1
The header isn’t necessary—CocoaPods makes one for you when it packages your project as a dynamic framework.

[2016-11-17 21:00] ruddfawcett commented on #1
Ah - so just adding `public` should work. Do I have to do that for every class?

[2016-11-18 05:40] ruddfawcett commented on #1
Fixed by 6a9e702eb72c630d6f770ee0b5d05a095416fb73.

[2016-11-18 05:40] #1 closed

[2016-11-18 06:28] ruddfawcett opened #3 "More documentation"
As of now, Notepad is only [21% documented](http://cocoadocs.org/docsets/Notepad/0.2.3) (yikes). Let's get that to 100%.

[2016-11-18 06:29] ruddfawcett opened #4 "Start a changelog"
Start a CHANGELONG.md file to detail each change that is pushed to CocoaPods.

[2016-11-18 06:29] ruddfawcett opened #5 "Support Carthage and Swift Package Manager"
Add support for non CocoaPods dependency managers.

[2017-01-07 18:29] cvdave231 opened #6 "First Character of a new line is always uppercase"
How can I modify the code to NOT force the first letter of a new line to be uppercase.
I cannot seem to find anything in the RegEx or code itself that is cause this

`The sly gray fox`
but I wish to be able to type
`the sly gray fox`

[2017-01-07 19:22] cvdave231 commented on #6
/// Creates a new Notepad.
    ///
    /// - parameter frame:     The frame of the text editor.
    /// - parameter themeFile: The name of the theme file to use.
    ///
    /// - returns: A new Notepad.
    /// 07Jan2017 - RDS - added self.autoxxx lines
    convenience init(_ frame: CGRect, themeFile: String) {
        self.init(frame: frame, textContainer: nil)
        self.storage.theme    = Th

[2017-01-08 04:02] #6 closed

[2017-01-08 05:33] cvdave231 commented on #6
gee.. your welcome

[2017-01-24 14:32] besi opened #7 "Cannot call value of non-function type module<Notepad>"
I wanted to give Notepad a try so I added the Pod to my project and I could also import it like so:

[code]
![import](https://cloud.githubusercontent.com/assets/160412/22251161/1c2f9f32-e24a-11e6-9842-b87f0324706b.png)

### The problem

As soon as I try to instantiate a `Notepad` object I get the following error:

![screen shot 2017-01-24 at 15 28 41](https://cloud.githubusercontent.com/assets/160

[2017-01-24 19:01] ruddfawcett commented on #7
Hey, thanks for the report – I'll look into it as soon as I can.

[2017-02-03 16:06] ruddfawcett commented on #7
Hey @besi did you ever figure this out? I think it may be an issue with CocoaPods, though I'm not entirely sure...

[2017-02-03 17:07] besi commented on #7
Since the demo worked I decided to copy the files over into my project which then worked fine.

[2017-02-03 21:40] MicahTWilson opened #8 "Code regular expression"
I noticed looking through the example that the "code" regular expression wasn't matching statements like \`let something = "hello"\`

Can I suggest we change your current code expression which is:
[code]

to something that allows for any character like:
[code]

[2017-02-04 14:11] ruddfawcett commented on #7
Great, thanks for update!

[2017-02-04 14:11] #7 closed

[2017-02-04 14:11] ruddfawcett commented on #8
Definitely! I'm not at a computer for most of this weekend, but if you open a PR I can merge from phone!

[2017-02-04 17:26] MicahTWilson commented on #8
Awesome here is the PR: #9

[2017-02-05 00:02] #8 closed

[2017-05-10 06:09] callodacity opened #14 "Different font sizes?"
Would it be possible to adjust the size of different tokens?

For example, a level 1 header `# Heading` could be a larger font size than standard text.

Something like CodeMirror's implementation: http://codemirror.net/demo/variableheight.html

[2017-05-10 06:12] ruddfawcett commented on #14
Yes! What you're looking for is to define `"size'` for an [element in your stylesheet](https://github.com/ruddfawcett/Notepad/blob/master/Notepad/Theme.swift#L121-L129).

You can either edit an existing stylesheet, or create a new one to do this!

[2017-05-10 06:20] callodacity commented on #14
Legendary 👍 thanks for that!

[2017-05-10 06:20] #14 closed

[2017-07-19 07:45] Rdxer opened #16 "..."
<img width="746" alt="qq20170719-154010 2x" src="https://user-images.githubusercontent.com/8586111/28356071-3d9e162e-6c99-11e7-9088-0cc46847a411.png">

[2017-07-19 07:46] Rdxer commented on #16
Create project, then...

[2017-07-19 15:44] ruddfawcett commented on #16
Sorry, what's your question?

[2017-07-20 01:24] Rdxer commented on #16
Using the GIT submodule, with pod, there are no errors. The tag version is not set?

[2017-07-20 01:26] Rdxer commented on #16
My English is poor. 😂

[2017-07-20 01:43] ruddfawcett commented on #16
没关系我们可以用中文吗？你有什么问题？我觉得如果你用第最新的Pod,可能没有问题吗。但是我会看一看！

对不起，我写中文写得不好。

[2017-07-21 08:43] DivineDominion opened #17 "make a Type for built-in themes"
While working with the library, it took me a second to notice that `Theme(_:)` doesn't load a file from my app target but only from the framework target -- so it's supposed to work with built-in themes only.

Making this clear with a named parameter, like `Theme(builtInThemeName: String)`, looks awful. But I had an idea:

[code]

Then resolving the bundle path can be moved into that type as well.

[2017-07-21 09:00] DivineDominion opened #18 "use NSTextContainer from Notepad initializer"
`Notepad.init(frame: CGRect, textContainer: NSTextContainer?)` does not actually use `textContainer`. This at least violates obvious expectations :) (And the Liskov Substitution Principle)

[2017-07-21 11:49] ruddfawcett commented on #17
This is definitely confusing as it stands, and I like the idea of using an enum. I'm wondering, however, if you think that the `BuiltInTheme` should be standalone or on `Theme` (e.g. `Theme.builtIn.XY`)?

[2017-07-21 11:52] DivineDominion commented on #17
Good point. Maybe something like this would also work: `Theme.BuiltIn.oneDark.rawValue` where `Theme.BuiltIn` is an enum (I don't want to ditch the enum in favor of static properties just yet because they are the best fit for a list of options); `Theme` then has to become `RawRepresentable` or similar in order to make `struct Theme { enum BuiltIn: Theme { ... } }` possible 🤔

[2017-07-21 11:57] ruddfawcett commented on #18
Thanks for filing issue. If my memory serves me correctly, I think that that was intentional... Perhaps it's a required initializer?

[2017-07-21 12:04] DivineDominion opened #20 "fix bold + italic: consider adding traits to a base font instead of requiring font names"
I found that to get a bold & italic font, coming up with a `XYZ-BoldItalic` name doesn't work, but adding a font trait via `NSFontManager` does work.

Instead of requiring `font` names in the theme files, my suggestion is to add another property, maybe even call it "traits", where you can specify "bold", "italic", or both.

* If the current style scope has a font setting, it adds the traits to the

[2017-07-21 12:11] DivineDominion opened #21 "Suggestion for an app-configurable special kind of theme"
In macOS apps, users may want to tweak the look and feel of the application while it is running; pickers for background color, text color, font family, and text size, for example.

While it might be possible to store this as a JSON file and feed it back to the app, I think it'd be nice to have a dynamic `Theme` and `Style` with mutable properties which you can more directly bind to the settings pa

[2017-07-21 12:14] DivineDominion commented on #18
Yes it is, but if you call `Notepad(frame: someFrame, textContainer: myTextContainer)`, then `myTextContainer` will be discarded and replaced by another one. While I don't like to `fatalError` out of situations like this for various reasons (same rationale as for [partial functions](https://www.cocoawithlove.com/blog/2016/01/25/partial-functions-part-one-avoidance.html)), that would at least be le

[2017-07-21 12:19] ruddfawcett commented on #17
Yeah — I agree that it would be most flexible for `Theme.BuiltIn` to be an enum, yet perhaps `BuiltIn` is a `String` enum rather than a `Theme`? That would eliminate the need for `Theme` to be `RawRepresentable`, no?

Looking at `Theme` specifically, it definitely needs work in general. In hindsight, I'm not sure why I put all of the JSON parsing functions in the struct.

[2017-07-21 12:24] DivineDominion commented on #3
Just adding my 2 cents on this: I think self-documenting code (small types, self-explanatory names) is preferable to 100% documentation coverage because every line of documentation becomes a liability for change. And your types and properties and functions sound good to me, so apart from some obviously useful algorithm explanation, documenting each and every property would be overkill.

[2017-07-21 12:33] ruddfawcett commented on #18
Totally makes sense regarding the discarding of the passed in `textContainer`. I'm fine with letting this sit for a little bit as well, as I think I tried a few things that didn't work in the past.

[2017-07-21 12:35] ruddfawcett commented on #21
I think that live configuration sounds like an awesome idea.

[2017-07-21 12:36] ruddfawcett commented on #20
Sounds great!

[2017-07-22 06:23] kyoji2 opened #22 "doesn't support emoji"
I try to type some emojis in the example,  the syntax highlighting was broken.

[2017-07-22 23:27] kobble-git opened #23 "swift 4?"
Tried using Notepad with swift 4 and Xcode 9, but get a few errors. Some have simple fixes, others not so much. Any plans for swift 4?

[2017-07-23 01:22] ruddfawcett commented on #23
Hey, thanks for the issue! I would love for Notepad to support Swift 4. Unfortunately I haven't been able to work on Notepad for a little bit, but I'll try to get these issues fixed as soon as I download all of the latest Apple development tools.

[2017-07-23 03:55] kobble-git commented on #23
I made the changes. I'm running them locally, and they seem to be working. I created a pull request.

[2017-07-24 23:48] ruddfawcett commented on #23
@kobble-git Thanks, I'll check them out!

[2017-07-25 20:35] #23 closed

[2017-07-25 20:36] ruddfawcett commented on #22
@kyoji2 thanks for the issue! Can you post what you tried to type and perhaps a screenshot of your issue?

[2017-07-28 23:35] kobble-git opened #25 "Change text programmatically"
If I set the text property to a string after initialization, it loads, but the text is truncated. Is this the right way to set text in Notepad?

[2017-07-29 08:08] DivineDominion commented on #25
Just tried both macOS and iOS sample codes with

[code]

To see what happens when the view is already loaded and you reset the text. Works fine. Can you provide more context information?

[2017-07-29 20:28] kobble-git commented on #25
The problem was the string length calculation in Storage.replaceCharacters. I submitted a pull request with the fix. For certain strings, str.characters.count does not return the correct length, NSString.length does.

[2017-07-30 09:11] DivineDominion commented on #25
Of course it doesn't, good catch, thanks! So it's solved now?

[2017-08-01 04:47] kobble-git commented on #25
Yes, I think so.

On Sun, Jul 30, 2017 at 9:11 PM, Christian Tietze <notifications@github.com>
wrote:

[2017-08-01 06:12] #25 closed

[2017-08-01 12:17] harjottrantor opened #27 "Not compatible with Xcode 8.3.2 Or Swift 3.0"
I was just trying to build the code but it gives me so many errors related to NSAttributedStringKey.

**Error: Use of undeclared type 'NSAttributedStringKey'.**

Is anyone faces this error and resolved this.

I'm new to **Swift 3.0**. I will appreciate your help.

[2017-08-01 12:32] DivineDominion commented on #27
Where, for example? (Works on my machine.)

[2017-08-01 12:38] harjottrantor commented on #27
I got it done using the changes mentioned in the last pull request.

But I want to bring in the notice, the master branch still needs to be updated for Swift 3 or Swift 4.

Please try by downloading the code from the master, it will not works.

[2017-08-01 12:44] DivineDominion commented on #27
Got it, sorry. Was on a different branch and didn't actually see the Swift 4 merger.

Does it work up to https://github.com/ruddfawcett/Notepad/commit/842544e35aac805e6c3701cadc0eabdc2fcda887 on your machine?

[2017-08-02 04:34] harjottrantor commented on #27
The code works for this commit No: 86d025a70802ed000050868b52253ab5328cf29e

Here's the link: https://github.com/ruddfawcett/Notepad/pull/24/

[2017-08-02 06:17] DivineDominion commented on #27
@ruddfawcett Do you want to rewrite the project history and move the Swift 4 changes to a `swift4` branch until Xcode 9 is final?

[2017-08-02 11:48] ruddfawcett commented on #27
@DivineDominion that sounds like the best call for now.

[2017-09-10 12:37] csanzol commented on #27
Do you have any solution for NSAttributedStringKey problem? Its not working with Xcode 8 or 9 at all.

[2017-09-10 12:39] ruddfawcett commented on #27
@csanzol is 86d025a working for you?

[2017-09-10 14:21] csanzol commented on #27
Unfortunatelly no. It has 13 errors, like:
Type 'NSAttributedStringKey' (aka 'NSString') has no member 'font'
Cannot convert value of type '[NSAttributedStringKey : Any]?' (aka 'Optional<Dictionary<NSString, Any>>') to expected argument type '[String : Any]?'
I have Xcode 9 beta 6

[2017-11-07 18:53] tslmy commented on #27
Persists on XCode Version 9.0 (9A235)

[2017-11-07 19:27] ruddfawcett commented on #27
@tslmy @csanzol I definitely would welcome any pull requests to fix this issue. I’m super busy right now, so probably can’t get to this in the near future.

[2017-11-19 23:19] #5 closed

[2017-11-19 23:19] #16 closed

[2017-11-19 23:19] #3 closed

[2017-11-19 23:19] #4 closed

[2017-11-22 08:13] danielmekis opened #28 "Change Markdown syntax colours"
Is there any way to use different colours for markdown symbols? Like: `**, *, #, etc`?
(I know, for example the bold has a different colour from the body colour but I would like to set only the markdown syntax's alpha value or it's colour)

[2017-11-22 08:18] danielmekis opened #29 "Suggestion box is too big"
I have a problem when my TextView starts with a `#Title`
<img width="348" alt="screen shot 2017-11-22 at 9 14 27" src="https://user-images.githubusercontent.com/33416593/33116633-d4974288-cf65-11e7-89e4-bbb490dbcd7b.png">

As you can see the cursor and the suggestion box is too big, I guess it uses the title's size value. Is there any way to fix it?

[2017-12-02 17:49] ruddfawcett commented on #29
Hm. I'm not sure if this is a Notepad problem — at least, I've never seen this behavior.  Can you post any relevant code?

[2017-12-02 17:52] ruddfawcett commented on #28
This is currently not supported. It is definitely possible and would include reconfiguring the matching groups on the regex parsing, and thus, in turn, the styling of the attributed strings. Any interested in a pull request to implement this feature?

[2017-12-02 17:53] ruddfawcett commented on #22
@kyoji2 Closing due to inactivity. Please reopen if you are still experiencing this issue. Thanks!

[2017-12-02 17:53] #22 closed

[2017-12-02 18:18] danielmekis commented on #29
@ruddfawcett It happens when you start the whole text with a #Title. It has bigger font so I guess this causes the problem. If I start normally there is no problem.

[2017-12-05 13:03] danielmekis opened #30 "Align text in the centre"
Is there any way to align text centre?
I set `.textAlignment` to centre, but when I type down one letter, it jumps back to left.

[2018-03-28 06:45] startupthekid opened #33 "Carthage & Swift Package Manager support"
Title says it all, I'll put a PR up

[2018-03-28 07:01] startupthekid commented on #33
Hmm this is actually going to be more complicated than I realized. Because this was probably set up using the cocoapods gem, *I think* that carthage won't work because `Notepad` isn't a project, it's a scheme within `Example.xcodeproj` and even those it's marked as shared Carthage can't find it which is why I suspect it fails `carthage build` and `carthage update` commands.

I'll have to put up a

[2018-03-28 08:43] DivineDominion commented on #33
I see two options:

1. Doesn't Carthage work with Workspaces, too? Then you could add a root workspace to expose the shared scheme.
2. Create a `Notepad.xcodeproj` in the project root with 2 library targets (iOS and macOS). Share their schemes for Carthage, too. Then add `Example-macOS` and `Example-iOS` app targets to the project as well (which will be ignored by Carthage).

I'm no CocoaPods wiz,

[2018-03-28 18:26] startupthekid commented on #33
Yeah that's a better idea actually, great suggestions 👍

This repo _desperately_ needs tests as well. No open-source library should be distributed without tests to verify that it works.

[2018-03-28 18:30] startupthekid commented on #33
As an aside, Cocoapods is a great tool but it's also terrible in that it allows developers to be super lazy and not follow rigorous software engineering practice. People have to start realizing that anything you open-source can be used by anyone, including multi-million dollar companies and when your stuff breaks in production for those companies, you definitely don't want to be on the hook for th

[2018-03-29 04:17] ruddfawcett commented on #33
@startupthekid 😢you know I'm not good at tests!

[2018-03-31 07:52] startupthekid commented on #33
Someday young padawon, someday you will be.

[2018-07-01 07:36] wakaryry commented on #30
You could custome your markdown previewer or viewer or render to make a center style. No need to make center in editor.

[2018-07-17 07:41] ruddfawcett commented on #30
Hi, sorry for the delay. You can fiddle with the text alignment [either here](https://github.com/ruddfawcett/Notepad/blob/master/Notepad/Theme.swift#L81) or [here](https://github.com/ruddfawcett/Notepad/blob/master/Notepad/Theme.swift#L70). Please reopen this issue if you are still having trouble or need more help. You may also try [stackoverflow.com](https://stackoverflow.com/) for general questi

[2018-07-17 07:41] #30 closed

[2018-07-17 07:43] ruddfawcett commented on #29
So sorry for the delay here, I was in the midst of finals and lost track of GitHub issues. I'll investigate further and get back to you. Your assessment about the bug sounds accurate, though.

[2018-07-26 12:43] TomasPangzi opened #34 "Swift 4 support (on CocoaPods)?"
as the title, swift 4 with cocoapods

[2018-07-26 13:15] TomasPangzi opened #35 "3 spaces make it not working"
text like *write and edit Markdown* , have 3 or more spaces can make program not working
<img width="338" alt="image" src="https://user-images.githubusercontent.com/8348504/43264531-02d11a28-9119-11e8-9885-3de520ec220d.png">

[2018-07-26 13:17] TomasPangzi commented on #35
and can only dark theme work, in branch swift-4

[2018-07-26 17:56] ruddfawcett commented on #35
Can you elaborate on your problem and open a new issue for the second concern?

[2018-07-26 18:06] ruddfawcett commented on #34
Library should be up to Swift 4 if you include from the GitHub source in your Podfile, but I do need to update it on CocoaPods.

[2018-07-30 11:15] curtisbacon opened #37 "Internal Protection Level"
I think the Notepad's convenience initializer needs to be made public in order to access it from outside the framework.

[2018-07-30 17:05] curtisbacon commented on #37
That is correct

[2018-07-30 17:34] curtisbacon commented on #37
Also, you know if the commit [319710a](https://github.com/ruddfawcett/Notepad/commit/319710aff2db1a7cfc6d2de76fae1d77c5337298) regarding the cocoapods theme loading was pushed to the master branch? Or is it part of a different branch? Thanks a lot btw.

[2018-07-30 17:36] ruddfawcett commented on #37
@curtisbacon It should be on master. Let me check out what's happening with this one sec.

[2018-08-01 23:09] ruddfawcett commented on #37
Hey, @curtisbacon, can you send me some more details about your usage?

[2018-08-01 23:12] ruddfawcett commented on #35
@TomasPangzi I can't seem to reproduce this on `master` (which `swift-4` was merged into). Please let me know if you are still experiencing a problem.

[2018-08-01 23:12] #35 closed

[2018-08-01 23:26] ruddfawcett commented on #33
@startupthekid do you think you'll get a chance to work on this? No worries if not!

[2018-08-08 10:48] curtisbacon commented on #37
Hi @ruddfawcett sorry for getting back late.
* Working with Swift 3.3
* Running cocoapods 1.5.3 (the Latest version I believe)
* Using Notepad (0.2.4)

` var editor: UITextView!

    override func viewDidLoad() {
        super.viewDidLoad()

        editor = Notepad(self.boundsView.bounds, themeFile: "one-dark")
        editor.backgroundColor = Constants.kDarkGrayBackgroundColor
        editor.lay

[2018-08-08 11:12] curtisbacon commented on #37
It doesn't look like the latest release 0.2.4 contains the changes mentioned in the above commit - *Theme.swift* still contains:
`        if let path = Bundle(for: object_getClass(self)).path(forResource: "Notepad.framework/themes/\(name)", ofType: "json") {
            if let data = convertFile(path) {
                configure(data)
            }
        }`
Rather than:
`        let bundle = Bun

[2018-08-08 15:14] ruddfawcett commented on #37
@curtisbacon thanks for this. I am out this week, so you think you can open a PR? I can review and merge in remotely.

[2018-08-14 10:08] curtisbacon commented on #37
@ruddfawcett  Sorry for the delay! I believe master is up to date with the changes. You just need to submit a new release

[2018-09-07 13:45] #37 closed

[2018-09-23 05:01] sfsam opened #39 "Line break inside bold or italic markup leaves first part marked up"
1. Run the example Mac app.
2. Place the caret in the middle of the word **bold**.
3. Hit return.
4. Observe that the first part of the word (bo) is still bold while the part on the new line (ld) is regular weight. It seems that both parts should either be bold or not be bold.

Same type of error for italics.

[2018-10-24 08:04] wakaryry opened #40 "attribute run ranges are in inconsistent state"
Example[39114:1231182] <NSATSGlyphStorage: 0x28095c4b0>: Example.Storage (0x281d50ee0) returned run range {190 19} for attributes at 192 in character range {192 57}. Since attribute run ranges are in inconsistent state, there might be layout issues such as garbled text or incorrect glyph spacings

[2018-10-28 17:30] ruddfawcett commented on #39
Hi, any interest in submitting a pull request with a fix?

[2018-10-30 08:05] wakaryry commented on #40
I'll check my projects later. I almost forgot where I got it. I do really have no impression about this issue.
I will reopen it if it's really an issue.

[2018-10-30 08:05] #40 closed

[2019-01-17 17:16] kaleidscpe opened #43 "Please add the possibility to change the syntax color and clickable links."
It's a very good library and I like it because the themes are customizable. But I've tried everything to change the color of the syntax, but I didn't succeed.

Another problem I found with the links: It's only colored text, but not selectable.

Best regards.

[2019-01-18 22:59] ruddfawcett commented on #43
Hi, thanks for the feedback. What do you mean by "[you've] tried everything to change the color of the syntax, but [you] didn't succeed"? Have you looked through the themes included in the project?

Also, Notepad is (right now) just for writing and editing raw text.

[2019-01-20 11:52] kaleidscpe commented on #43
I mean the ability to change color to syntax symbols (#, **, ``).

[2019-01-24 02:21] ruddfawcett commented on #43
Hi, I don't have time right now to work on this. You are more than welcome to submit a PR, however.

[2019-02-24 13:16] kaleidscpe opened #44 "macOS pod installation"
When I try to install Notepad via CocoaPod for my macOS app, I get the following error:
The platform of the target `NameApp` (macOS 10.13) is not compatible with` Notepad (0.2.4) `, which does not support` osx`.

Thanks.

[2019-03-07 15:34] ruddfawcett commented on #44
Hi, if you could submit a PR to fix the Podspec, I can merge it in. Thanks!

[2019-03-26 20:14] kaleidscpe opened #46 "Issue with Xcode 10.2"
I updated Xcode to version 10.2 and from that moment Notepad stopped working. I receive the error "[Notepad] Unable to load your theme file.".

[2019-03-27 01:06] ruddfawcett commented on #46
Hi, if you could submit a PR to fix the Podspec, I can merge it in. Thanks!

[2019-03-30 14:13] funkenstrahlen commented on #34
Works fine even with Swift 5 when using the version from Github.

[2019-04-02 09:26] funkenstrahlen commented on #20
This is a great idea in I'd love to see this too. Maybe I will find time to submit a PR.

[2019-04-02 17:24] funkenstrahlen commented on #20
I tried to implement this because I need it in my current project too. Do you want to take a look and maybe merge? https://github.com/ruddfawcett/Notepad/pull/47

[2019-04-03 01:53] ruddfawcett commented on #20
Hey thanks so much @funkenstrahlen — I'll take a look!

[2019-04-04 14:29] #20 closed

[2019-04-05 16:22] ruddfawcett commented on #34
Closed via #50, #49.

[2019-04-05 16:22] #34 closed

[2019-04-05 16:23] ruddfawcett commented on #46
This should be closed via #48 I think — please reopen if not @kaleidscpe.

[2019-04-05 16:23] #46 closed

[2019-04-05 16:38] ruddfawcett commented on #44
This should be fixed via the latest CocoaPods update!

[2019-04-05 16:38] #44 closed

[2019-04-05 16:39] ruddfawcett commented on #43
Hi, I'm closing this due to the duplication of #28; right now there are no plans to support clickable links.

[2019-04-05 16:39] #43 closed

[2019-04-16 08:25] funkenstrahlen opened #51 "Combining bold and italics not working"
The following example should render as bold and italics at the same time:

[code]
Like this: ***foobar***

However it is only rendered in bold style.

[2019-04-16 08:48] funkenstrahlen commented on #51
This is actually supported, but no used in any of the example theme files. Therefore I close this.

[2019-04-16 09:15] funkenstrahlen commented on #51
After some more testing I have discovered a bug that arises from a library design flaw.

In the current implementation `***foobar***` matches three regular expressions for `bold`, `italics` and `boldItalics`. It only renders in the correct style if the regex for `boldItalics` is processed after the other ones. But this is currently not guaranteed in the code. Therefore it works sometimes and somet

[2019-04-16 09:36] funkenstrahlen commented on #51
Maybe the issue can be fixed by improving the regular expression for `bold`, `italic` and `boldItalic`.

[2019-04-16 16:18] ruddfawcett commented on #51
Thanks for bringing this to my attention; the styles do need to be reworked a bit and are probably a part of a massive overhaul that includes separating tokens such as `*`, `**`, `***`, etc. I will think on this and get back to you.

[2019-04-16 20:27] GreenSheep0 opened #52 "Unable to load your theme file."
# Hello !
I have added Nodepad to my IOS project but I have this error :
`[Notepad] Unable to load your theme file.`
My code :
[code]
Thank you in advance

PS : Sorry for my bad English :/

[2019-04-17 00:18] ruddfawcett commented on #52
What version of Notepad are you using?

Habitez-vous en France? On peut parler en français si c'est plus facile.

[2019-04-17 10:58] PodyDev commented on #52
Merci pour cette réponse.
J'utilise la version `0.3.0`

![Version](https://user-images.githubusercontent.com/40074561/56282661-fab3c580-610f-11e9-9ae6-e4eb2c5d15ae.png)

[2019-04-18 12:12] funkenstrahlen commented on #51
Awesome! Let me know if you have an idea how to implement this. I am open to help writing the required code.

[2019-04-18 12:16] DivineDominion commented on #51
I found it works well if you don't just command it to e.g. "set this to italics", but instead "fetch the current font and add the italic font trait".

For bold and italics, I call `embolden` and `italicize`:

[code]

With this:

[code]

[2019-04-18 15:48] ruddfawcett commented on #51
@DivineDominion love that approach! @funkenstrahlen if you want to take a look...

[2019-04-19 00:34] ruddfawcett commented on #52
Bien sur! Avez-vous vu #48?

[2019-04-22 01:58] ruddfawcett commented on #52
Peux-tu vérifier que les dossier des «themes» sont choisis?

[2019-04-22 11:02] PodyDev commented on #52
Désolé pour cette réponse tardive.

Je ne vois pas de dossier nommé `themes`
![CoolScreen](https://user-images.githubusercontent.com/40074561/56497594-7e99f300-64fe-11e9-8593-6c66407723a4.png)

Je rappelle que j'utilise les CocoaPods pour mon app.

[2019-04-22 12:13] funkenstrahlen commented on #51
I just took a look at this and still do not know how to integrate this in to the existing structure.

Currently it works like this:

1. The Theme file is parsed. This creates an array of `Style` objects
2. Each `Style` object represents a regex and all attributes for the `NSTextStorage` to apply to the matching text range

Problems with this approach:

Merging of font traits settings for two `Styl

[2019-04-22 12:15] funkenstrahlen commented on #51
Maybe there is a way to build this just für `bold`, `italic` and `boldItalic` elements. I could create exceptions for these elements and add the font traits manually. However this means loosing the option to customise font traits in the theme definition file for headlines for example.

[2019-04-22 20:26] ruddfawcett commented on #52
Non, c’est pas problème! Ce soir je vais créer un nouvel projet que utilise CocoaPods. Si j’ai le même problème, je le réparerai.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-02 20:09] kaleidscpe commented on #44
Thanks!

[2019-05-06 13:21] Loootus opened #53 "Storyboard support"
I can't find one way using Notepad in storyboard.

[2019-05-07 23:17] ruddfawcett commented on #53
Hi, you can use a few different approaches to use Notepad with a Storyboard:

1. Set a custom class of "Notepad" on the UITextView in your Storyboard.
2. Use an IBOutlet to connected your UITextView to your view controller file, and then [extend that UITextView](https://github.com/ruddfawcett/Notepad#extending-an-existing-text-view-with-notepad-features).
3. Add a Notepad programmatically to a con

[2019-05-25 17:59] ruddfawcett commented on #29
Hi, I'm so sorry — I  know this is a very old issue. I just tried to replicate it and was unable to do so. Please let me know if you are still experiencing any problems.

[2019-05-25 17:59] #29 closed

[2019-05-27 03:33] shusain93 commented on #52
I had to make a small patch to make my fresh CocoaPod install work:

Theme.swift:

in `public init(_ name: String)`, add a forth search location:

[code]

Seems like the build system/cocoapods is copying theme resources to the root of the framework bundle.

[2019-05-27 17:40] ruddfawcett commented on #52
Thanks @shusain93 — would you be able to open a PR with this?

[2019-11-27 17:25] thbonk commented on #17
I created a pull request for that: https://github.com/ruddfawcett/Notepad/pull/55

[2019-12-20 07:56] hstdt commented on #52
This way will be more convenience for swift package manager.

![image](https://user-images.githubusercontent.com/10215098/71239306-2cd19300-2341-11ea-8c82-e29dc622f971.png)

[2020-02-19 10:10] mrimadali opened #56 "Objective C support"
Hi @ruddfawcett

Thanks for the awesome library.
Is this library supports Objective-C? I'm integrating using Cocoapods.

Thanks
Imad

[2020-02-20 00:34] #17 closed

[2020-02-20 00:36] ruddfawcett commented on #52
@hstdt / @shusain93 sorry for inactivity on my end. Would it be possible to send in a PR with your patch?

[2020-04-01 22:27] rivera-ernesto commented on #53
This doesn't seem to work.

[2020-04-01 23:15] ruddfawcett commented on #53
Thanks for letting me know, @rivera-ernesto. Are you getting any errors or just no result?

[2020-04-02 14:11] rivera-ernesto commented on #53
No results. I've been fighting with it yesterday. Is seems that `Storage` methods never get called.

I've been trying to set the theme in `viewDidLoad` (`self.notepad.storage.theme = Theme("one-dark")`). For that I had to change `storage` visibility to `public private(set) var storage: Storage = Storage()`.

[2020-04-02 14:25] DivineDominion commented on #53
Yeah, you're right: when you use Storyboards/Xibs, the `init(withCoder:)` variant is called. Since theme configuration is only supported by passing in theme info to the initializer, you effectively cannot customize the theme at all.

I would hide the knowledge, tbh, and change `Notepad`:

[code]

That would be a more stable API that exposes theme configuration on the base object, while hiding know

[2020-04-06 13:14] ruddfawcett commented on #53
@DivineDominion is correct, `init(withCoder:)`is called with Storyboards, so you'll have to use something like they suggested. An obvious oversight on my part, unfortunately. I think at one time I was imagining that the theme could be an `IBInspectable/IBDesignable`... but alas I forgot...

[2020-04-06 13:18] ruddfawcett commented on #56
Hi, this library was rebuilt for Swift, but was based on [RFMarkdownTextView](https://github.com/ruddfawcett/RFMarkdownTextView). You may want to check that out if you want a pure Objective-C version.

You can also [import Swift into your Objective-C project](https://developer.apple.com/documentation/swift/imported_c_and_objective-c_apis/importing_swift_into_objective-c).

[2020-04-06 13:18] #56 closed

[2020-04-20 04:56] ruddfawcett commented on #21
Closed by #59.

[2020-04-20 04:56] #21 closed

[2020-04-20 04:58] ruddfawcett commented on #52
@GreenSheep0 on pense que #57 est la solution au problème.

[2020-04-20 04:58] #52 closed

[2020-04-20 05:03] ruddfawcett commented on #53
Oops, my bad — misread #57. Let me think on this, even though I saw your PR with programmatic themes #59, I think there should be a drag/drop way to use Notepad. Perhaps with IBInspectables, etc. I'll play around with it when I get a chance.

[2020-05-05 21:32] ivancantarino opened #61 "Use System Font"
Hi there,

Before it all, thanks for sharing this project. It's pretty cool.
I was digging around the themes, and will probably create a custom one myself, though I noticed the fonts used are the ones that are listem in the system.

Is there a way to use the system font, such as `UIFont.systemFont(ofSize: CGFloat, weight: UIFont.Weight)` ?

[2020-05-05 22:34] ivancantarino commented on #61
I have managed to do it within the `Theme.swift` file inside the `parse` function, where I just overwrite the `font` property, before the `return` to whatever font I desire.

Is there a better way?

[2020-05-06 16:40] ruddfawcett commented on #61
Hey, @Ivan-Cantarino, thanks for the note — appreciate it! So yes — there should be a way to use `UIFont.systemFont(...)`, and I was going to suggest the solution you came up with for now. I think, eventually (and I'll have to dig back into the project at some point), there should be more defined defaults/a base `Theme` that others inherit from; hopefully, this will remove the need to explicitly o

[2020-05-14 13:37] rivera-ernesto commented on #53
I was trying to "add" functionality to an existing `UITextView` and noticed that it needs to be `init`ialized with the custom container.

That may be the same reason why `Notepad`s initialized through Storyboards don't work.

[2020-07-01 04:08] SolorzanoJose opened #63 "Custom attributes"
Do we have any insight on how to customize the highlightning for custom attributes? say I want to add something called "user mention" like: [user][username], is this possible? if not out of the box then maybe guide me to the correct classes to implement it myself

[2020-07-14 13:43] siburb commented on #28
I've got this working using named capturing groups in the regex, and matching those names to styles using a new property in the style class.

[code]

Named capturing groups are only supported by `NSRegularExpression` from iOS11 & macOS10.13 (https://developer.apple.com/documentation/foundation/nstextcheckingresult/2915200-range), but we can easily just ignore it in older versions.

This approach s

[2020-07-14 14:24] ruddfawcett commented on #28
Hi, @siburb thanks so much. Definitely open to reviewing a PR!

[2020-07-14 14:25] ruddfawcett commented on #63
Hi @SolorzanoJose, sorry for my delayed response. This is supported! Check out [custom regex](https://github.com/ruddfawcett/Notepad#custom-regex). Feel free to reopen with any other questions.

[2020-07-14 14:25] #63 closed, assigned to nobody

[2020-10-27 17:26] tianzhuqiao opened #65 "Placeholder support"
Thanks for the great project. Do we have plan to support the placeholder? Thanks!

[2022-08-24 16:13] erikvlm opened #68 "Hide markdown syntax as cursor leaves the position?"
Is it possible to have the markdown syntax hide as the cursor leaves the text? Sort of like Obsidian does in their live preview mode?

Eg writing `**bold**` to only show **bold**? (Notice that the asterisks have been "hidden")

[2022-08-25 09:49] DivineDominion commented on #68
It's technically possible by using `NSGlyphGenerator` to replace the glyphs for `*` with none (e.g. unless selected)

The more convenient way to change the behavior is to use a delegate instead of overriding the glyph generator (which doesn't even work on iOS): `NSLayoutManagerDelegate.layoutManager(_:shouldGenerateGlyphs:properties:characterIndexes:font:forGlyphRange:)`

Example https://stackover

[2022-08-25 11:10] erikmalmberg commented on #68
I tried following that stackoverflow post but couldn't get it to work - can you show a crude example of how you would?

[2022-08-25 15:37] DivineDominion commented on #68
Sorry, no, just notes.

There's a WWDC session: Dan Schimpf and Aki Inoue (2010):  _Advanced Cocoa Text Tips and Tricks_.

PDF version e.g. available here:
https://docs.huihoo.com/apple/wwdc/2010/session_114__advanced_cocoa_text_tips__tricks.pdf

I'd suggest trying that on macOS, first, because iOS didn't have the API back then. `NSLayoutManagerDelegate` then will be the way forward IIRC.

[2022-09-06 16:56] ruddfawcett commented on #68
This would be great functionality. Unfortunately it is something that I am unable to get to: @DivineDominion's suggestions are good ones.